<header class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">
        <!-- BEGIN NAVBAR TOGGLER -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
                aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- END NAVBAR TOGGLER -->
        <!-- BEGIN NAVBAR LOGO -->
        <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="{{ path('site_home') }}" aria-label="Tabler" class="text-decoration-none text-reset no-link-style">
                <img src="{{ asset('img/icone.png') }}" alt="Logo" class="navbar-brand-image me-3">
                Engajando Saberes
            </a>
        </div>
        <!-- END NAVBAR LOGO -->
        <div class="navbar-nav flex-row order-md-last">
            {% if app.user %}
                <div class="nav-item dropdown">
                    <button
                        class="nav-link d-flex lh-1 p-0 px-2"
                        data-bs-toggle="dropdown"
                        aria-label="Abre menu do usuário"
                    >
                        <span
                            class="avatar avatar-sm"
                            {% if app.user.avatar %}
                                style="background-image: url('{{ vich_uploader_asset(app.user.avatar) }}')"
                            {% endif %}
                        >
                            {{ not app.user.avatar ? app.user.fullName|initials[:2] : '' }}
                        </span>
                        <span class="d-none d-xl-block ps-2">
                            <span>{{ app.user.firstName }}</span>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
{#                        {{ knp_menu_render(['userMenu', 'First Section']) }}#}
{#                        <div class="dropdown-divider"></div>#}
                        {{ knp_menu_render('userMenu') }}
                    </div>
                </div>
            {% else %}
                <div class="nav-item">
                    <a href="{{ path('app_login') }}" class="btn btn-primary">
                        {{ ux_icon('tabler:login-2', {class: 'icon icon-2'}) }}
                        Entrar
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse justify-content-center" id="navbar-menu">
            <!-- BEGIN NAVBAR MENU -->
            {{ knp_menu_render('main', {template: 'menu/main.html.twig', currentClass: 'active', currentAsLink: false}) }}
            <!-- END NAVBAR MENU -->
        </div>
    </div>
</header>
