{% extends 'site/base.html.twig' %}

{% block title %}
    {{ parent() }} | Aulas - {{ lesson.name }}
{% endblock %}

{% block body %}
    <div class="page-header d-print-none" aria-label="Page header">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        {{ lesson.name }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-lg-12">
                    <div class="card card-link">
                        <div class="card-body">
                            {{ lesson.content|raw }}
                            <div class="d-flex justify-content-between mt-3">
                                <a href="{{ path('site_discipline_show', {'id': lesson.module.discipline.id}) }}"
                                   class="btn btn-outline-secondary">
                                    Voltar para as aulas
                                </a>

                                {% if lesson in app.user.lessons %}
                                    <span class="badge bg-primary text-primary-fg">Concluída</span>
                                {% else %}
                                    <form action="{{ path('site_lesson_complete', {'id': lesson.id}) }}" method="post"
                                          class="d-inline">
                                        <button type="submit" class="btn btn-primary">
                                            Marcar como concluída
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
