{% extends 'site/base.html.twig' %}

{% form_theme quizForm 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {{ parent() }} | Quiz
{% endblock %}

{% block body %}
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-lg-12">
                    <div class="card card-link">
                        <div class="card-body">
                            {{ form_start(quizForm) }}

                            {% for child in quizForm %}
                                {{ form_row(child) }}
                            {% endfor %}

                            <div class="mt-3 d-flex justify-content-between">
                                <a href="{{ path('site_discipline_show', {'id': quiz.module.discipline.id}) }}"
                                   class="btn btn-outline-secondary">
                                    Voltar para as aulas
                                </a>

                                <button type="submit" class="btn btn-primary">
                                    Enviar Respostas
                                </button>
                            </div>
                            {{ form_end(quizForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
